@import 'tailwindcss';
@theme {
  --spacing: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #262626;
  --foreground: #ffffff;
  --fretboard-color: grey;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

select {
  color: var(--foreground);
  background-color: var(--background);

  padding: 0.2rem;
  margin: 0.2rem;
}
